.DS_Store
/.env
/.idea
/app/.upgrading
/app/CHEVERETO_LICENSE_KEY
/app/vendor
/app/build
/app/.phpunit.cache
/app/.phpunit.result.cache
/importing/**
/images/**
!/images/.htaccess
!/importing/.htaccess
/_assets
